 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2032px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 65px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  min-height: 794px;
  grid-gap: 24px 24px;
  grid-auto-columns: calc(50% - 12px);
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 26px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-icon-1 {
  margin-right: 5px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 35px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 26px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-icon-2 {
  margin-right: 5px;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 35px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1968px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 651px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 490px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2071px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 530px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    min-height: 1559px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 696px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 19px;
    margin-bottom: -980px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1162px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 17px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 8px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 17px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 8px;
  }
}